---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Software and Technical Advice on demand" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Brayan Jeshua is a entusiast
    <span class="text-primary">Software Creator</span> and eternal learner.
    <span class="text-primary">Skilled</span>
    in identifying <span class="text-primary">company needs</span> and proposing effective solutions for process improvement.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="tel:+393512979728"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="phone" class="h-8" />
      <span>Let's meet up</span>
    </a>
    <a
      href="https://www.linkedin.com/in/brayanjeshua/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Explore my habilities</span>
    </a>
  </div>
</ContentSection>
