---
import { Icon } from "astro-icon";
import bjLogo from "~/assets/logoBJ.png";
import ContentSection from "~/components/content-section.astro";
import { Picture } from "@astrojs/image/components";
---

<ContentSection title="Software and Technical Advice on demand" id="about-me">
  <Picture
    class="h-10"
    src={bjLogo}
    widths={[450, 800]}
    sizes="(min-width: 640px) 42vw, 67vw"
    loading="eager"
    alt="A floating astronaut in a space suit"
  />

  <Fragment slot="lead">
    Brayan Jeshua is a entusiast
    <span class="text-primary">Software Creator</span> and Startup Advisor
  </Fragment>


  <div class="grid grid-cols-1 gap-2 px-6">
    <p class="text-md">
      Skilled in identifying company needs and proposing effective solutions for
      process improvement. Passionate about providing rapid solutions and
      enhancing user experience. Proven ability to work effectively in remote
      and hybrid team environments. I like it when everything is straightforward
      and easy to understand, so that no issues arise.
    </p>
  </div>

  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="tel:+393512979728"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="phone" class="h-8" />
      <span>Let's meet up</span>
    </a>
    <a
      href="https://www.linkedin.com/in/brayanjeshua/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Explore my habilities</span>
    </a>
  </div>
</ContentSection>
